[Unit]
Description=Initialize Dragon Q8B Bluetooth Address
Before=bluetooth.service
Wants=bluetooth.service

[Service]
Type=oneshot
ExecStart=/usr/libexec/dragon-q8b-bt-address
RemainAfterExit=yes

[Install]
WantedBy=bluetooth.service
